_libgcc_mutex=0.1
_openmp_mutex=4.5
asgiref=3.4.1
bzip2=1.0.8
ca-certificates=2022.3.29
certifi=2020.6.20
dj-database-url=0.5.0
django=3.2.5
django-heroku=0.3.1
gunicorn=20.1.0
krb5=1.19.2
ld_impl_linux-64=2.35.1
libedit=3.1.20210910
libffi=3.3
libgcc-ng=9.3.0
libgomp=9.3.0
libpq=12.9
libstdcxx-ng=9.3.0
libuuid=1.0.3
ncurses=6.3
openssl=1.1.1n
pip=21.2.4
psycopg2=2.8.6
python=3.10.4
pytz=2021.3
readline=8.1.2
setuptools=58.0.4
sqlite=3.38.2
sqlparse=0.4.1
tk=8.6.11
typing_extensions=4.1.1
tzdata=2022a
wheel=0.37.1
whitenoise=6.0.0
xz=5.2.5
zlib=1.2.11
